<div class="full">
  <navi-bar></navi-bar>
  <h1 class="articleTitle">Matched Offers</h1>
<table height="25px" class="test">
  <tr height="25px">
    <td>
      <span class="articleSubTitle">SKU:</span>
      <input [(ngModel)]="searchText" placeholder="Enter search text here">
    </td>
    <td width="200px">
        <select [(ngModel)]="selectedStatus">
          <option value="All">All</option>
          <option value="Working">Working</option>
          <option value="Full">Full</option>            
          <option value="Accepted">Accepted</option>
          <option value="Expired">Expired</option>
          <option value="Rejected">Rejected</option>
          <option value="Canceled">Canceled</option>
          <option value="Completed">Completed</option>
        </select>
      </td>
      <td width="200px">
        <select [(ngModel)]="pageSizeValue">
          <option value="5">5 per page</option>
          <option value="10">10 per page</option>
          <option value="25">25 per page</option>
          <option value="50">50 per page</option>
          <option value="100">100 per page</option>
        </select>
      </td>
  </tr>
</table>
  <table stye="cellpadding:0px; cellspacing:0px;" border="1px" >
    <tr style="background-color: lightblue">
        <th width="35%">Supplier Offer</th>
        <th width="5%">Status</th>
        <th>Consumer Offer Bundles</th>
    </tr>
    <tr *ngFor="let value of allBundleOfferMappings | filter :  {  productSKU: searchText}
          | paginate: {itemsPerPage: pageSizeValue, currentPage:page, id: '1'}; let i = index">
      <td>
          <table stye="cellpadding:1px; cellspacing:1px;" border="1px;" border-color="blue"  >
              <tr>
                  <td>Name</td>
                  <td>{{value.soidkey.offerSupplierProductKeyId.supplierId.name}}</td>
                </tr>
              <tr style="background-color: lightgrey">
                  <td width="150px">Product Name</td>
                  <td>{{value.soidkey.offerSupplierProductKeyId.productId.name}}</td>
                </tr>
                <tr>
                  <td>SKU</td>
                  <td>{{value.soidkey.offerSupplierProductKeyId.sku}}</td>
                </tr>
                <tr style="background-color: lightgrey">
                  <td>Min. Qty</td>
                  <td>{{value.soidkey.minQuantity}} </td>
                </tr>
                <tr>
                      <td>Max. Qty</td>
                      <td >{{value.soidkey.maxQuantity}} </td>
                    </tr>
                    <tr style="background-color: lightgrey">
                      <td>Offer Price</td>
                      <td >${{value.soidkey.offerPrice| number:'1.2-5'}}</td>
                    </tr>
                    <tr>
                          <td>Product Price</td>
                          <td [style.color]="value.soidkey.offerSupplierProductKeyId.price <= value.soidkey.offerPrice ? 'red' : 'black'">
                            ${{value.soidkey.offerSupplierProductKeyId.price | number:'1.2-5' }}</td>
                          </tr>
                          <tr style="background-color: lightgrey">
                      <td>Start Date</td>
                      <td [style.color]="value.soidkey.effectiveDate <= today ? 'red' : 'black'">
                          {{value.soidkey.effectiveDate | date:'MM/dd/yyyy'}} </td>
                        </tr>
                        <tr>
                          <td>End Date</td>
                          <td [style.color]="value.soidkey.endDate <= today ? 'red' : 'black'">
                              {{value.soidkey.endDate | date:'MM/dd/yyyy'}} </td>
                      </tr>
                    </table>
      </td>
      <td [style.color]="value.bomstatusTypeId.status === 'Accepted' ? 'darkorange' : 'blue'">        
          {{value.bomstatusTypeId.status}} </td>
        <td>

      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="page = $event" id="1"
  maxSize="10" pages = "{10,20}" directionLinks="true" autoHide="true">
</pagination-controls>
</div>
